.react-fullpage__parents {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.react-fullpage__section {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
}
.react-fullpage__section[data-active='true'] {
  overflow-y: auto;
}
.react-fullpage__section[data-animating='true'] {
  overflow-y: hidden;
}
.react-fullpage__section::-webkit-scrollbar {
  display: none;
}
.react-fullpage__contents {
  display: flex;
  min-height: 100%;
  position: relative;
  z-index: 1;
}
.react-fullpage__wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.react-fullpage__container {
  position: relative;
  width: 100%;
  height: 100%;
  transition-property: transform;
}
.react-fullpage__scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 8px;
}
.react-fullpage__scrollbar-sticker {
  position: sticky;
  top: 0;
  width: 100%;
}
.react-fullpage__scrollbar-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.react-fullpage__scrollbar-handler {
  border: none;
  border-radius: 4px;
  background: none;
  appearance: none;
  cursor: pointer;
  position: absolute;
  padding: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  cursor: default;
}
.react-fullpage__scrollbar-handler.is-pressed {
  background: rgba(0, 0, 0, 0.6);
}
